 /* todo-list-component private CSS styles */


.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0%;
    width: auto;
}

.item-title {
    background-color: #3d40cc; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 18%;
}

.btnDone {
    background-color: #fbfbfff3; 
    border: 1px solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
}

.addItem {
    text-align: center;
    color: white;
    padding-left: 42%;
    padding-right: 42%;
    width: auto;
}